<div class="card mb-3">
  <div class="card-header">
    <a class="card-link" data-toggle="collapse" href="#employeeContainer">
        Employees
      </a>
  </div>
  <div id="employeeContainer" class="collapse" data-parent="#accordion">

    <div class="card-body">
      <div id="employees">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-outline-info btn-sm  mb-2" title="Add new employee." (click)="addNewEmployee()">
                <span class="fa fa-plus"></span>
              </button>
              <span>Add new employee</span>
            </div>
          </div>

          <div class="card mb-1" *ngFor="let e of employees; let i = index">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" [attr.href]="'#' + e.id">
                {{e.name}}
              </a>
              <button type="button" class="btn btn-outline-info btn-sm pull-right" title="Click to delete employee." (click)="deleteEmployee(e.id, i)">
                <span class="fa fa-trash-o"></span>
              </button>
              <button type="button" class="btn btn-outline-info btn-sm pull-right mr-1" title="Click to edit" (click)="createOrUpdateEmployee(e)">
                <span *ngIf="!e.editable" class="fa fa-pencil"></span>
                <span *ngIf="e.editable" class="fa fa-save"></span>
              </button>
            </div>
            <div [attr.id]="e.id" class="collapse"  [ngClass]="{'show': e.editable}"  data-parent="#employees">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img class="thumbnail-pic" [src]="e.imageUrl">
                  </div>
                  <div class="col-md-5">
                    <p class="mb-1">Name: &nbsp;<input class="form-control" placeholder="Enter Name" [readonly]="!e.editable" [(ngModel)]="e.name">                      </p>
                    <p class="mb-1">Status: <input class="form-control" placeholder="Enter Status" [readonly]="!e.editable" [(ngModel)]="e.currentStatus">                      </p>
                  </div>
                  <div class="col-md-5">
                    <p class="mb-1">Image Url: <input class="form-control" placeholder="Enter Image Url" [readonly]="!e.editable" [(ngModel)]="e.imageUrl">                      </p>
                    <p class="mb-1">Teams: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control" placeholder="TBD" [readonly]="!e.editable">                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>